[{assign var="dropship" value=$oxcmp_user->oxuser__dropship->value}]
<li><a href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=quickorder&fnc=showForm"}]" rel="nofollow">[{oxmultilang ident="BTN_QUICKORDER"}]</a></li>
<li><a href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=adressverwaltung"}]" rel="nofollow">[{oxmultilang ident="BTN_ADRESSVERWALTUNG"}]</a></li>
